:root {
    --yellow: #ffad15;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: aliceblue;
}

.content {
    border-radius: 10px;
    border: 1px solid burlywood;
    margin: 1rem auto 2rem;
    max-width: 950px;
    min-height: 100vh;
    background: white;
}

header {

}

footer {
    display: none;
}

.logo {
    margin: 1rem auto;
    width: 500px;
}

.title {
    display: none;
}

.subtitle {

}

.projects {
    margin: 0 auto;
    padding-top: 0.5em;
    max-width: 1050px;
    align-self: center;
}

@media (min-width: 650px) {
    .projects {
       
        display: flex;
        flex-wrap: wrap;
    }
}

.projects > div {
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 1.2em 1em;
}

@media (min-width: 650px) {
    .projects > div {
        margin: 0.5em 1%;
        padding: 1em;
        width: 48%;
    }
}

@media (min-width: 1080px) {
    .projects > div {
        width: 31.33%;
    }
}

.projects h3 {
    font-weight: 700;
    line-height: 1.1;
    color: #ffad15;
    display: inline-block;
    font-size: 2.7rem;
    max-width: 100%;
    text-decoration: none;
    transition: color 0.2s;
    word-wrap: break-word;
}

.projects p {
    color: #1e1e1d;
    font-size: 1.1em;
    line-height: 1.4;
    margin-top: 0.5em;
}

.projects .section-title {
    align-items: center;
    background-color: var(--yellow);
    color: var(--grey);
    display: flex;
    padding: 1.8em;
}

.section-title h2 {
    font-family: var(--font-franklin);
    font-weight: 700;
    line-height: 1.1;
    font-weight: 900;
    font-size: 3em;
}

